body{background-color: 	#33FCFF;}
 #backround-header-img{background-image: url("../images/background-image3.png");
						border-radius: 5px;
						margin:20px;
						background-size: cover;
						background-repeat: no-repeat;
						color :white;
						text-align:center;

						}
.external-div{background-color:#e6fff2;
	margin:10px;

}
#players-row{
	text-align: center;
	float:right;
	padding-top:0px;
}


#game-rules{
	display:block;
	border:5px solid #33FCFF;
	margin-bottom:5px;
}
#para{
padding-left:0px;
margin: -3px 29px 1px;
font-size:20px;
	
}